@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
    font-weight: 500;
    background-color: #f4f3f8;
}

.el-input__wrapper {
    padding: 1rem;
}

.el-select__wrapper {
    padding: 1rem;
}

ul {
    list-style: none;
    border: none;
    padding: unset;
}

.plusIcon {
    width: 21px;
}

.btnCreate {
    width: 278px;
    padding: 21px 37px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background-color: #0e97fa;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transition: 1s ease;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .btnCreate {
        width: 195px;
    }
}

.btnCreate:hover {
    background-color: #76bef5;
}

img {
    width: 39vw;
    max-width: 214px
}

.background {
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}